.challenge-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 32px;
    margin-bottom: 15px;
    margin-top: -5px;
}

p {
    color: rgb(200,200,200);
}

label {
    font-size: 16px;
    margin-bottom: 5px;
}

input[type="range"] {
    width:20vw;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: none;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#map {
    width: 95vw;
    height: 100%;
    margin-top: 20px;
    border-radius: 5px;
}

#routingContainer {
    display: flex;
    width: 75vw;
    height: 40vh;
    margin-bottom: 20px;
}

#inputContainer {
    display: flex;
}

#sliderWithCaption {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
}